.advantages {
  padding-top: 94px;
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
  }
  &__iconbox {
    background-color: $backgroud-color-quaternary;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;
  }
  &__icon {
    margin: 25px 0;
  }
  @extend .header__secondary;
  &__description {
    color: $text-color-tertiary;
    font-weight: $font-weight-primary;
    font-size: 14px;
    line-height: 1.7;
    padding-top: 10px;
  }
}
