.clients {
  &__header {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  &__block {
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover > svg *,
    &:hover {
      border: 1px solid #2196f3;
      fill: $backgroud-color-active;
    }
  }
  &__icon {
    fill: $icon-color-primary;
  }
}
