.logo {
  color: $text-color-active;
  font-family: $font-secondary;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
}
.logo-shadow {
  color: $text-color-quaternary;
}
.logo-highlight {
  color: $text-color-secondary;
}
