$font-primary: "Roboto", sans-serif;
$font-secondary: "Raleway";
$text-color-primary: #212121;
$text-color-secondary: #ffffff;
$text-color-tertiary: #757575;
$text-color-quaternary: #000000;
$text-color-active: #2196f3;
$backgroud-color-primary: #2f303a;
$backgroud-color-secondary: #ffffff;
$backgroud-color-tertiary: #2f303a;
$backgroud-color-quaternary: #f5f4fa;
$backgroud-color-active: #2196f3;
$border-color-primary: #eeeeee;
$border-color-secondary: #ececec;
$border-color-tertiary: #21212133;
$border-color-quaternary: #afb1b8;
$border-color-active: #2196f3;
$icon-color-primary: #afb1b8;
$icon-color-secondary: #212121;
$icon-color-tertiary: #757575;
$icon-color-quaternary: #ffffff;
$icon-color-active: #2196f3;
$font-size-primary: 14px;
$font-size-secondary: 16px;
$font-size-tertiary: 18px;
$font-weight-primary: 400;
$font-weight-secondary: 500;
$font-weight-tertiary: 700;
